In [1]:
#import dependencies
import pandas as pd
import json
import os

In [2]:
jsondata = os.path.join("Resources","purchase_data.json")

In [321]:
#Read JSON data into a variable
with open(jsondata) as json_data:
    d = json.load(json_data)

In [197]:
#turn data into dataframe
game_df = pd.DataFrame(d, columns=['SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'])
game_df.head()

SN           573
Age           37
Gender         3
Item ID      183
Item Name    179
dtype: int64

In [190]:
#Player Count
total_players = len(game_df['SN'].value_counts())
Total_Players = pd.DataFrame({"Total Players": total_players}, index=[0])
Total_Players

   Total Players
0            573

In [191]:
#Purchasing Analysis

In [192]:
#Number of Unique Items
unique_items = len(game_df['Item ID'].value_counts())

#Average Purchase Price
average_price = game_df['Price'].mean()

#Total Number of Purchases
total_purchases = game_df['Item Name'].count()


#Total Revenue
total_revenue = game_df['Price'].sum()

#Create DataFrame
purchasing_analysis = pd.DataFrame({"Number of Unique Items": [unique_items],
                                   "Average Price": [average_price],
                                   "Total Purchases": [total_purchases],
                                   "Total Revenue": [total_revenue],
                                
})

#Reorder DataFrame
purchasing_analysis = purchasing_analysis[["Number of Unique Items", "Average Price","Total Purchases", "Total Revenue"]]
                                

#improve formatting
purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].map("${0:,.2f}".format)
purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].map("${0:,.2f}".format)

purchasing_analysis

   Number of Unique Items Average Price  Total Purchases Total Revenue
0                     183         $2.93              780     $2,286.33

In [193]:
#Gender Demographics

In [309]:
#Group data by Gender and filter duplicates
grouped_df = game_df.groupby(["Gender"])
unique_df = grouped_gender.nunique()

#Total Gender
total_gender = unique_df["SN"].sum()

#Percentage and Count of Players
count = unique_df["SN"].unique()
percentage = unique_df["SN"]/ total_gender

#Create new dataframe
final_gender = pd.DataFrame({"Percentage of Players": percentage,
                            "Count":count})
#Change percentage format and re order columns
final_gender["Percentage of Players"] = final_gender["Percentage of Players"].map("{:,.2%}".format) 
final_gender.columns = ["Percentage of Players", "Count"]
#Print final dataframe
final_gender

573

In [304]:
#Purchasing Analysis (Gender)

#Purchase Count
purchase_count = unique_df["Gender"].value_counts()

#Average Purchase Price
average_price = grouped_df["Price"].mean()

#Total Purchase Value
purchase_price = grouped_df["Price"].sum()

#Normalized Totals
normalized = purchase_price / count

#Create new dataframe
gender_analysis = pd.DataFrame({"Average Purchase Price": average_price,
                            "Total Purchase Price":purchase_price,
                               "Normalized Totals": normalized})

#Clean up formatting and reorder columns
gender_analysis["Average Purchase Price"] = gender_analysis["Average Purchase Price"].map("${:,.2f}".format) 
gender_analysis["Total Purchase Price"] = gender_analysis["Total Purchase Price"].map("${:,.2f}".format) 
gender_analysis["Normalized Totals"] = gender_analysis["Normalized Totals"].map("${:,.2f}".format) 
gender_analysis

,Average Purchase Price,Normalized Totals,Total Purchase Price
Gender,,,
Female,$2.82,$3.83,$382.91
Male,$2.95,$4.02,"$1,867.68"
Other / Non-Disclosed,$3.25,$4.47,$35.74

In [327]:
#Age Demographics
#Drop Duplicates
cleaned_df = game_df.drop_duplicates("SN")

#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
bins = [10, 14, 19, 23, 27, 31, 35, 39, 40]
groups = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Create a  new column for age groups and then groupby Age Groups
cleaned_df["Age Groups"] = pd.cut(cleaned_df["Age"], bins, labels=groups)
age_df = cleaned_df.groupby(["Age Groups"])

total_age = unique_df["Age"].sum()

#Purchase Count
age_purchase = game_df["Age Groups"].value_counts()

#Percentage of Users
age_percentage = age_purchase / total_players

age_demographics = pd.DataFrame({"Total Count": age_purchase,
                             "Percentage of Players":age_percentage})

age_demographics["Percentage of Players"] = age_demographics["Percentage of Players"].map("{:,.2%}".format) 

age_demographics = pd.concat([age_demographics.loc[["<10"],:], age_demographics.drop("<10", axis=0)], axis=0)

age_demographics

/anaconda3/envs/PythonData/lib/python3.6/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

      Percentage of Players  Total Count
<10                   5.41%           31
15-19                46.42%          266
20-24                29.49%          169
10-14                23.21%          133
25-29                10.47%           60
30-34                 7.33%           42
35-39                 5.24%           30
40+                   2.44%           14

In [328]:
#Age Demographics

#Average Purchase Price
age_average_price = age_df["Price"].mean()

#Total Purchase Value
age_price = age_df["Price"].sum()

#Normalized Totals
normalized_age = age_price / age_purchase

#Create new dataframe
age_analysis = pd.DataFrame({"Purchase Count": age_purchase,
                             "Average Purchase Price":age_average_price,
                            "Total Purchase Value":age_price,
                               "Normalized Totals": normalized_age})

#Clean up formatting
age_analysis["Average Purchase Price"] = age_analysis["Average Purchase Price"].map("${:,.2f}".format) 
age_analysis["Total Purchase Value"] = age_analysis["Total Purchase Value"].map("${:,.2f}".format) 
age_analysis["Normalized Totals"] = age_analysis["Normalized Totals"].map("${:,.2f}".format) 

#Move bottom row to the top
age_analysis = pd.concat([age_analysis.loc[["<10"],:], age_analysis.drop("<10", axis=0)], axis=0)

age_analysis

,Average Purchase Price,Normalized Totals,Purchase Count,Total Purchase Value
<10,$2.60,$1.68,31,$51.99
10-14,$2.90,$2.18,133,$289.88
15-19,$2.90,$2.28,266,$605.46
20-24,$3.13,$2.24,169,$378.79
25-29,$3.01,$1.95,60,$117.24
30-34,$3.32,$2.69,42,$112.95
35-39,$2.71,$1.53,30,$46.03
40+,$3.20,$1.83,14,$25.61

In [342]:
#Top Users
#Group data by SN
sn_df = game_df.groupby(["SN"])

top_sn = sn_df["SN"].value_counts()

SN               SN
Adairialis76     Adairialis76       1
Aduephos78       Aduephos78         3
Aeduera68        Aeduera68          3
Aela49           Aela49             1
Aela59           Aela59             1
Aelalis34        Aelalis34          2
Aelin32          Aelin32            1
Aeliriam77       Aeliriam77         2
Aeliriarin93     Aeliriarin93       1
Aeliru63         Aeliru63           2
Aellyria80       Aellyria80         1
Aellyrialis39    Aellyrialis39      1
Aellysup38       Aellysup38         1
Aelollo59        Aelollo59          1
Aenarap34        Aenarap34          1
Aenasu69         Aenasu69           1
Aeral43          Aeral43            1
Aeral85          Aeral85            1
Aeral97          Aeral97            1
Aeri84           Aeri84             2
Aerillorin70     Aerillorin70       1
Aerithllora36    Aerithllora36      3
Aerithnucal56    Aerithnucal56      2
Aerithnuphos61   Aerithnuphos61     1
Aerithriaphos45  Aerithriaphos45    1
Aesty51          Aesty51            1
Aesur96          Aesur96            1
Aethe80          Aethe80            1
Aethedru70       Aethedru70         1
Aidain51         Aidain51           2
                                   ..
Undjaskla97      Undjaskla97        1
Undjasksya56     Undjasksya56       1
Undotesta33      Undotesta33        1
Wailin72         Wailin72           1
Whaestysu86      Whaestysu86        1
Yadacal26        Yadacal26          1
Yadaisuir65      Yadaisuir65        2
Yadanun74        Yadanun74          3
Yalaeria91       Yalaeria91         1
Yaliru88         Yaliru88           1
Yalo71           Yalo71             1
Yalostiphos68    Yalostiphos68      1
Yaralnura48      Yaralnura48        2
Yararmol43       Yararmol43         1
Yarirarn35       Yarirarn35         1
Yaristi64        Yaristi64          1
Yarithllodeu72   Yarithllodeu72     1
Yarithphos28     Yarithphos28       1
Yarithsurgue62   Yarithsurgue62     2
Yarmol79         Yarmol79           1
Yarolwen77       Yarolwen77         2
Yasriphos60      Yasriphos60        3
Yasrisu92        Yasrisu92          1
Yasur35          Yasur35            1
Yasur85          Yasur85            1
Yasurra52        Yasurra52          1
Yathecal72       Yathecal72         2
Yathecal82       Yathecal82         1
Zhisrisu83       Zhisrisu83         2
Zontibe81        Zontibe81          1
Name: SN, Length: 573, dtype: int64