In [1]:
#import dependencies
import pandas as pd
import json
import os

In [2]:
jsondata = os.path.join("jsondata.json")

In [3]:
#Read JSON data into a variable
with open(jsondata) as json_data:
    d = json.load(json_data)

In [4]:
#turn data into dataframe
game_df = pd.DataFrame(d, columns=['SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'])
game_df.head()

,SN,Age,Gender,Item ID,Item Name,Price
0,Aelalis34,38,Male,165,Bone Crushing Silver Skewer,3.37
1,Eolo46,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32
2,Assastnya25,34,Male,174,Primitive Blade,2.46
3,Pheusrical25,21,Male,92,Final Critic,1.36
4,Aela59,23,Male,63,Stormfury Mace,1.27

In [5]:
#Player Count
total_players = len(game_df['SN'].value_counts())
Total_Players = pd.DataFrame({"Total Players": total_players}, index=[0])
Total_Players

   Total Players
0            573

In [6]:
#Purchasing Analysis

In [7]:
#Number of Unique Items
unique_items = len(game_df['Item ID'].value_counts())

#Average Purchase Price
average_price = game_df['Price'].mean()

#Total Number of Purchases
total_purchases = game_df['Item Name'].count()


#Total Revenue
total_revenue = game_df['Price'].sum()

#Create DataFrame
purchasing_analysis = pd.DataFrame({"Number of Unique Items": [unique_items],
                                   "Average Price": [average_price],
                                   "Total Purchases": [total_purchases],
                                   "Total Revenue": [total_revenue],
                                
})

#Reorder DataFrame
purchasing_analysis = purchasing_analysis[["Number of Unique Items", "Average Price","Total Purchases", "Total Revenue"]]
                                

#improve formatting
purchasing_analysis["Average Price"] = purchasing_analysis["Average Price"].map("${0:,.2f}".format)
purchasing_analysis["Total Revenue"] = purchasing_analysis["Total Revenue"].map("${0:,.2f}".format)

purchasing_analysis

   Number of Unique Items Average Price  Total Purchases Total Revenue
0                     183         $2.93              780     $2,286.33

In [8]:
#Gender Demographics

In [26]:
#Store Total
total_gender = game_df["Gender"].count()

#Percentage and Count of Male Players
male = game_df["Gender"].value_counts()['Male']
male_percent = male/total_gender 
male_df = pd.DataFrame({"Percentage of Players": [male_percent], "Count": [male]})

#Percentage and Count of Female Players
female = game_df["Gender"].value_counts()['Female']
female_percent = female/total_gender 
female_df = pd.DataFrame({"Percentage of Players": [female_percent], "Count": [female]})

#Percentage and Count of Other / Non-Disclosed
non_gender_specific = total_gender - male - female
non_gender_specific_percent = non_gender_specific/total_gender 
non_gender_specific_df = pd.DataFrame({"Percentage of Players": [non_gender_specific_percent], "Count": [non_gender_specific]})

#Merge male and female
merged_pd = pd.merge(male_df, female_df, how="outer")
 
#Merge new dataframe with non-gender specific
merged_pd = pd.merge(merged_pd, non_gender_specific_df, how="outer")


merged_pd["Percentage of Players"] = merged_pd["Percentage of Players"].map("{:,.2%}".format) 
merged_pd

   Count Percentage of Players
0    633                81.15%
1    136                17.44%
2     11                 1.41%